---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
import { Summoner, db, eq } from "astro:db";
import { Summoner_Match } from "astro:db";
import { Card } from "../components/ui/card";
import { Separator } from "../components/ui/separator";
import { riotService } from "@/services/RiotService";
import clsx from "clsx";

const user = Astro.locals.user;
const puuid = user?.puuid!;

let recentGames, summonerStats;
if (puuid) {
    summonerStats = await db
        .select()
        .from(Summoner)
        .where(eq(Summoner.puuid, puuid))
        .get();

    recentGames = await db
        .select({
            championName: Summoner_Match.championName,
            win: Summoner_Match.win,
            kills: Summoner_Match.kills,
            deaths: Summoner_Match.deaths,
            assists: Summoner_Match.assists,
        })
        .from(Summoner_Match)
        .where(eq(Summoner_Match.summonerId, puuid))
        .limit(10);
}
---

<Layout title="DuoQ | Dashboard">
    <main>
        <form method="POST" action="/api/update">
            <Button>Update</Button>
        </form>
        <pre>
            {JSON.stringify(summonerStats, null, 2)}
        </pre>

        <Separator className="my-3" />

        <h1 class="text-2xl font-extrabold">Recent Games</h1>
        {
            recentGames &&
                recentGames.map(
                    ({ championName, win, kills, deaths, assists }) => {
                        return (
                            <Card
                                className={clsx([
                                    "grid grid-cols-4 p-2",
                                    win ? "bg-green-900" : "bg-red-900",
                                ])}
                            >
                                <img
                                    width="30px"
                                    height="30px"
                                    src={riotService.getSquareImgUrl(
                                        championName,
                                    )}
                                    alt={championName}
                                />
                                <div>
                                    {kills} / {deaths} / {assists}
                                </div>
                            </Card>
                        );
                    },
                )
        }
    </main>
</Layout>
