---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
import { Summoner, db, eq } from "astro:db";
import { Summoner_Match } from "astro:db";

const user = Astro.locals.user;
const puuid = user?.puuid!;

let recentGames, summonerStats;
if (puuid) {
    summonerStats = await db
        .select()
        .from(Summoner)
        .where(eq(Summoner.puuid, puuid))
        .get();

    recentGames = await db
        .select({
            championName: Summoner_Match.championName,
            win: Summoner_Match.win,
            kills: Summoner_Match.kills,
            deaths: Summoner_Match.deaths,
            assists: Summoner_Match.assists,
        })
        .from(Summoner_Match)
        .where(eq(Summoner_Match.summonerId, puuid))
        .limit(10);
}
---

<Layout title="Welcome to Astro.">
    <main>
        <form method="POST" action="/api/update">
            <Button>Update</Button>
        </form>
        <pre>
            {JSON.stringify(summonerStats, null, 2)}
        </pre>
        <pre>
            {JSON.stringify(recentGames, null, 2)}
        </pre>
        <!-- <code>{JSON.stringify(comment)}</code> -->
        <!-- <code>{user ? (user.gameName + "#" + user.tagLine) : "not available"}</code> -->
        <!-- <code>{session?.id || "no session"}</code> -->
    </main>
</Layout>
