---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
---

<Layout title="Welcome to Astro.">
    <main>
        <form method="POST" action="/api/update">
            <Button>Update</Button>
        </form>
        <!-- <code>{JSON.stringify(comment)}</code> -->
        <!-- <code>{user ? (user.gameName + "#" + user.tagLine) : "not available"}</code> -->
        <!-- <code>{session?.id || "no session"}</code> -->
    </main>
</Layout>
