---
import { Input } from "@/components/ui/input";
import "../styles/globals.css";
import { Button } from "@/components/ui/button";

interface Props {
    title: string;
}

const { title } = Astro.props;
const user = Astro.locals.user;

const summonerCookie = Astro.cookies.get("summoner");

console.log(summonerCookie);
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="h-[100dvh] w-[100dvw] overflow-auto">
        <div
            class="flex flex-row-reverse items-center gap-2 p-2 text-muted-foreground"
        >
            <span>{user?.gameName + "#" + user?.tagLine || "No User"}</span>
            <form method="POST" action="api/login" class="flex">
                <Input type="text" name="id" />
                <Button size="sm">Swap user</Button>
            </form>
        </div>
        <slot />
    </body>
</html>
